<div class="tab-navigation">
    <ul class="tab-list">
        <!-- First render Active Tab -->
        <li data-sly-list.tab="${model.links}">
            <sly data-sly-test="${tab.active}">
                <a class="tab-item active" href="${tab.url}">${tab.text}</a>
            </sly>
        </li>
        <!-- Then render Non-Active Tabs -->
        <li data-sly-list.tab="${model.links}">
            <sly data-sly-test="${!tab.active}">
                <a class="tab-item" href="${tab.url}">${tab.text}</a>
            </sly>
        </li>
    </ul>
</div>


<style>
	.tab-navigation {
  display: flex;
  border-bottom: 1px solid #ccc;
  overflow-x: auto;
}

.tab-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.tab-item {
  padding: 12px 24px;
  background: #f0f0f0;
  text-decoration: none;
  color: #333;
  border-radius: 10px 10px 0 0;
  margin-right: 5px;
}

.tab-item.active {
  background: #e97826;
  color: #fff;
  font-weight: bold;
}

</style>