<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='icici.fundtransfer'}"/>
</sly>

<sly data-sly-use.model="com.aem.icici.core.models.FundTransfer_stepsModel"/>

<div class="funds-container">
    <div>
        <h1 class="">${model.title}</h1>

        <div class="features-wrapper">
            <ol id="features-tab1" class="features-list">
                <div class="vertical-line"></div>
                <li class="feature-item" data-sly-repeat.link="${model.steps}">
                    <div class="dot">
                        <span class="c2"></span>
                    </div>
                    <span class="feature-text">${link.featureText}</span>
                </li>
            </ol>
        </div>
    </div>

    <div>
        <img src="${model.image}" alt="mobile img"/>
    </div>
</div>