.digital-banking-component {
    background-color: #ffffff;
    display:flex;
	flex-direction:column;
    justify-content:center;
    padding: 20px;
        padding-left:150px;

}

.main-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    font-size:13px;
}

.tab {
    padding: 10px 20px;
    margin: 0 5px;
    background: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.tab.active {
    background: #f26f21;
    color: white;
    position: relative;
}

.tab.active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #f26f21;
}

.tab-container {
    display: flex;
    gap: 30px;
    align-items: stretch;

}

.tab-image-section img {
    width: 600px;
    border-radius: 8px;
}

.tab-content-section {
    flex-grow: 1;
}

.tab-image-section,
.tab-content-section {

    display: flex;
    flex-direction: column;
}


.sub-tab {
    flex-direction: column;

}



.features-list {
    list-style: none;
    padding-left: 20px;
    margin: 0;
    position: relative;
    --line-height: 0px; /* css variable to dynamically update line height */

}

.features-list .vertical-line {
    position: absolute;
    top: 21px;
    left: 31px;
    width: 2px;
    height: 0;
    background: #f26f21;
    transition: height 1.5s ease;
     height: var(--line-height);       /* controlled dynamically from JS */
    z-index: 0;
}


.features-list::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 31px;
    width: 2px;
    height: 90%;                         /* static height */
    background: #f1f1f1;
    transition: height 2s ease, background-color 0.3s ease;
}



.feature-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
    z-index: 1;
}


.dot {
    position: absolute;
    top: 3px;
    left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border: 2px solid #f1f1f1; /* Default gray */
    border-radius: 50%;
    transition: border-color 0.3s ease;
	z-index: 1;
}



.c2 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f1f1f1; /* Inner stays static */
    transition: background-color 0.3s ease;
    z-index: 2;
}




.feature-item.active .c2 {
    background-color: #f26f21;
}

.feature-text {
    font-size: 13px;
    color: #000000;
    transition: font-weight 0.3s ease;
}

.feature-item.active .feature-text {
    font-weight: bold;
}

.image-app {
    height: 32px;
    width: auto;
    object-fit: contain;
}
