<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='icici.featuresectionbutton'}"/>
</sly>

<sly data-sly-use.buttonModel="com.aem.icici.core.models.FeatureSectionButtonModel"/>

<div class="service-button" data-sly-test="${buttonModel.buttonText}">
    <a href="${buttonModel.link}" class="service-button__link">
        <img class="service-button__icon" src="${buttonModel.iconPath}" alt="icon" />
        <span class="service-button__text">${buttonModel.buttonText}</span>
    </a>
</div>
