.carousel-container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;

    padding: 20px 80px; /* increased horizontal padding for gap */
    border-radius: 8px;
  }
  .carousel-wrapper {
    overflow: hidden;
    width: 100%;
  }
  .carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }
  .carousel-title{
    font-size: 2.4rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    
  }
  .card {
    flex: 0 0 calc(100% / 3);
    box-sizing: border-box;
    padding: 10px;
  }
  .card-content {
    color: black;
    border-radius: 8px;
    padding: 0;
    text-align: left;
    font-size: 1rem;
    user-select: none;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.15); */
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  .card-image {
    width: 100%;
    height: 140px;
    object-fit: fill;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 12px;
  }
  .card-title {
    margin: 0 16px 8px 16px;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    padding: 10px 0px;
    border-bottom: 1px solid #e0e0e0;
  }
  .card-text{
    font-weight: 300;
    color: #4a4a4a;
    font-size: small;
  }
  .card-footer {
    margin: auto 16px 16px 16px;
    display: flex;

    align-items: center;
    justify-content: space-between;
    align-items: center;
  }
  .card-year {
    font-size: 0.9rem;
    color: #d1d1d1;
  }
    .share-button {
    background: transparent url('share-bg.svg') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  .share-button svg {
    display: none;
  }
  .share-button:hover {
    filter: brightness(1.2);
  }
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: orange;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    user-select: none;
    transition: background-color 0.3s ease;
  }
  .carousel-button:hover {
    background: #dcdee0;
  }
  .prev-button {
    left: 20px; /* moved further left */
  }
  .next-button {
    right: 20px; /* moved further right */
  }
  .dots-container {
    text-align: center;
    margin-top: 15px;
  }
  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
  }
  .dot.active {
    background-color: orange;
  }