<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientLib.css @ categories='icici.customcarousel'}"/>
<sly data-sly-call="${clientLib.js @ categories='icici.customcarousel'}"/>

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html">
<sly data-sly-use.model="com.aem.icici.core.models.customCarousel.CarouselModel" />

<div class="carousel-container" aria-label="Card Carousel">
    <!-- Carousel Title -->
    <h2 class="carousel-title" data-sly-test="${model.carouselTitle}">${model.carouselTitle}</h2>

    <!-- Navigation Buttons -->
    <button class="carousel-button prev-button" aria-label="Previous Slide" data-sly-test="${model.showNav}">&#10094;</button>

    <div class="carousel-wrapper">
        <div class="carousel-track">
            <!-- Render Slides Dynamically -->
            <sly data-sly-list.slide="${model.slideList}">
                <div class="card">
                    <div class="card-content">
                        <img src="${slide.slideImage @ context='uri'}" alt="${slide.slideTitle}" class="card-image" />
                        <h3 class="card-title">${slide.slideTitle}</h3>
                        <div class="card-footer">
                        <p class="card-text">${slide.slideText}</p>
                            <button class="share-button" aria-label="Share ${slide.slideTitle}">
                                <img src="${slide.socialIcon @ context='uri'}" alt="Share Icon" />
                            </button>
                        </div>
                    </div>
                </div>
            </sly>
        </div>
    </div>

    <!-- Navigation Buttons -->
    <button class="carousel-button next-button" aria-label="Next Slide" data-sly-test="${model.showNav}">&#10095;</button>

    <!-- Dots -->
    <div class="dots-container" role="tablist" aria-label="Carousel Navigation Dots" data-sly-test="${model.showDots}">
        <sly data-sly-list.dot="${model.slideList}">
            <span class="dot" data-slide-index="${dotList.index}"></span>
        </sly>
    </div>
</div>
</sly>
</sly>