<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='icici.complaints-level-2'}"/>
</sly>


<sly data-sly-use.model="com.aem.icici.core.models.ComplaintsLevel2Model" />

        <h1 class="level2-title">${model.title}</h1>
        <p class="level2-para">${model.text}</p>
		<div class="form-container">
            <p class="form-description">
                Please enter your Account/ Application Number and previous Level 1 SR number to proceed.
            </p>
        	<div class="form-row">
                <div class="form-field">
                    <label for="account-number"><strong>Account/Application Number*</strong></label>
                    <input type="text" id="account-number" name="account-number" />
                </div>
                <div class="form-field">
                    <label for="sr-number"><strong>Enter Level 1 Reference Number*:</strong></label>
                    <input type="text" id="sr-number" name="sr-number" value="SR" />
                </div>
       		</div>
  		</div>

        <p>${model.text3 @context='html'}</p>
            <ul class="level2-list" data-sly-list.buttonparalist="${model.buttonpara}">
                <li>
                    <p>${buttonparalist.text2 @context='html'}</p>
                    <button class="level2-button" href="${buttonparalist.link}">${buttonparalist.text1}</button>
                </li>
            </ul>


<style>
.level2-container {

}

.level2-title{
	color: #004080;
}

.level2-para{
 color: #e65300;
    font-size:18px;
    font-family:italic;
    font-weight:600;
}  


.level2-list{
	list-style:none;
    margin:0px;
    padding:0px;
}

.level2-button{
    width: 25%; 
    display: block; 
    text-align: center;
	border-radius:25px;
    background-color:#e65300;
    border:none;
    padding:10px 20px;
    color:#ffffff;
}

.form-container {
    width: 100%;
    font-family: italic;
}

.form-description {
    font-size: 12px;
    margin-bottom: 10px;
}

.form-row {
    display: flex;
	flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.form-field label {
    margin-bottom: 5px;
    font-size: 10px;
}

.form-field input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

</style>