
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.all @ categories='icici.DomesticFundTransfer'}"/>

<sly data-sly-use.model="com.aem.icici.core.models.DomesticFundTransferModel" />
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">

<div class="domestic-fund-section">
    <div class="Main-title">
        <h2>${model.sectionTitle}</h2>
    </div>

    <div class="card-grid">
        <sly data-sly-list.card="${model.cardItems}">

            <div class="card" style="background-color: ${card.backgroundColor @ context='styleString'};">

                <div class="card-content">
                    <img src="${card.iconImageReference @ context='uri'}" alt="${card.cardTitle}" class="card-icon" />
                    <h3 class="card-title">${card.cardTitle}</h3>
                </div>

               <div class="card-overlay" style="background: url('${card.backgroundImageReference @ context='uri'}');
     				background-size: cover; background-position: center top; background-repeat: no-repeat;">

    				<div class="gradient-overlay"></div>

   					<h3 class="hover-title">${card.hoverTitle}</h3>
    			    <div class="hover-description">${card.hoverDescription @ context='html'}</div>
			   </div>

            </div>
        </sly>
    </div>
</div>
