
<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='icici.site'}"/>
</sly>

<sly data-sly-use.model="com.aem.icici.core.models.Footer_bank_registeredModel">

    <div class="footer_registration_container">
        <div class="footer_registration_inner">
            <h1 class="footer_registration_heading">${model.title}</h1>

            <div class="footer_registration_logos" data-sly-list.linkItem="${model.links}">
                <img class="footer_registration_img" src="${linkItem.fileReference}" alt="Registration Logo"/>
            </div>
        </div>
    </div>

</sly>
