
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.all @ categories='icici.premiumAccountsCard'}"/>
<sly data-sly-use.model="com.aem.icici.core.models.PremiumAccountsCardModel" />
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">

<div class="premium-wrapper" style="background-color: ${model.backgroundColor @context='html'}">
 <h2 class="premium-title">${model.title}</h2>
    <!-- Icon and Text Section -->
    <div class="premium-top-section">
        <div class="premium-icon">
            <img src="${model.iconImageReference}" alt="Icon" />
        </div>
        <div class="premium-icon-text">${model.iconText @context='html'}</div>
    </div>

    <!-- Main Body Section -->
    <div class="premium-body">
        <!-- Description and Buttons -->
        <div class="premium-description">

            <div class="premium-text">${model.description @context='html'}</div>
            <div class="premium-buttons" data-sly-list.button="${model.buttonItems}">
                <a href="${button.buttonLink}" class="premium-btn">${button.buttonText @context='html'}</a>
            </div>
        </div>

        <!-- Image Section -->
        <div class="premium-image">
            <img src="${model.imageReference}" alt="${model.title}" />
        </div>
    </div>
</div>

